@use 'index' as *; // Ajusta la ruta según tu estructura de archivos

.home{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5em;
  padding-bottom: 0;
  gap: .5em;
}
.games-container{
  position: relative;
  display: block;
  flex: 1;
  background-color: $play-bg-color;
  border-radius: .5em;
  overflow: hidden;
}

.games-container:last-child:has(.game){
  height: 97.5vh;
}

app-mayor-menor{
  flex-grow: 1;
  overflow: hidden;
}
app-conecta-cuatro{
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden{
  display: none;
}
