<div class="about">
  <h2 class="about__title">¿Quién soy?</h2>

  <img class="about__img" width="200" src="/assets/profile-picture.jpg" alt="profile-picture">

  <p class="about__text">
    <span class="about__span">Soy Pablo Vidal</span>, estudiante de Tecnicatura Universitaria en Programación en la Universidad de Avellaneda. Soy un apasionado por la tecnología, me encanta resolver problemas y aprender a usar nuevas herramientas que me permitan mejorar como profesional.
  </p>

  <p class="about__text">
    <span class="about__span">Actividad:</span> Participé como ayudante en las materias Laboratorio de computación 2 y Laboratorio de computación 3 en la misma Facultad UTN. Actualmente me encuentro cursando materias de la Facultad y clases virtuales de idiomas.
  </p>

  <p class="about__text">
    <span class="about__span">Intereses:</span> Mi interés va desde la Programación y Ciencias Exactas hasta Idiomas. Me gusta explorar áreas como la inteligencia artificial y el diseño de interfaces de usuario.
  </p>

  <p class="about__text">
    <span class="about__span">Proyecto:</span> Para este Proyecto decidí realizar el juego de Conecta 4, en el cual dos jugadores (con un color asignado) se enfrentan colocando una ficha roja o amarilla (según se le haya asignado), por turno, hasta que alguno forme una fila de 4 fichas consecutivas, ya sea en forma vertical, horizontal o diagonal ganando así la partida. En su turno, el jugador colocará una ficha ena columna a elección, la ficha se depositará en la parte inferior de la columna.
  </p>

</div>
