.game {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}


.main-image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.main-image {
  max-width: 100%;
  max-height: 100%;
}

.repeated-image-cont {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 5%;
  right: 0;
  bottom: 10em;
}
.repeated-letter{
  position: relative;
  font-size: 2.5vw;
  left: 3%;
}
.repeated-image {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.info-container{
  width: 98%;
  margin: 1%;
  border-radius: .5em;
  display: flex;
  padding: .2em;
  gap: .2em;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 81, 99);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.info-display{
  flex-grow: 1;
  flex-basis: 50%;
  height: 100%;
  padding: .2em .6em;
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(249, 255, 163);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-vidas{
  display: flex;
  justify-content: right;
  gap: .2em;
  height: 100%;
  flex-grow: 1;
  flex-basis: 50%;
  padding: .2em .6em;
  border-radius: .5em;
  background-color: rgba(0, 0, 0, 0.5);
}
.vida-img{
  width: 2em;
  height: auto;
  object-fit: contain;
}

.game-end{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.58);
}
.game-end__text{
  width: 10em;
  background-color: white;
  padding: 1em;
  border-radius: .2em;
}
app-game-menu{
  width: 100%;
  height: 100%;
  position: absolute;
}
