
.ranking-title {
  text-align: center;
  padding: 1em;
  position: relative;
}


.ranking-title { margin: 0 0 1rem; }
.ranking-card  { margin-bottom: 1rem;
  background-color: rgba(250, 235, 215, 0.5);
}

table[mat-table] {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: antiquewhite;
}
td{
  padding: 1em;
}
