<div class="games-list-scroll">
  <div class="lista-juegos">
    <app-game-card
      [routerLink]="gamesRoutes.AHORCADO"
      [nombreJuego]="games.ahorcado.name"
      [img_url]="games.ahorcado.urlImg">
    </app-game-card>

    <app-game-card
      [routerLink]="gamesRoutes.MAYOR_MENOR"
      [nombreJuego]="games.mayorMenor.name"
      [img_url]="games.mayorMenor.urlImg">
    </app-game-card>

    <app-game-card
      [routerLink]="gamesRoutes.PREGUNTADOS"
      [nombreJuego]="games.preguntados.name"
      [img_url]="games.preguntados.urlImg">
    </app-game-card>

    <app-game-card
      [routerLink]="gamesRoutes.FRUIT_CATCHER"
      [nombreJuego]="games.fruitCatcher.name"
      [img_url]="games.fruitCatcher.urlImg">
    </app-game-card>
  </div>
</div>
