<div class="game">

  <div class="info-container">
    <!-- <div class="info-container" (click)="pause(true)"> -->

      <div class="info-display">
        <div>Turno del jugador: {{currentTurn}}</div>
        <div ng>Ganador: {{winner}}</div>
      </div>
      <div class="info-display info-right">
      <button class="btn-design btn-design-game" (click)="resetGame()">Reiniciar Juego</button>
    </div>
  </div>

  <div class="game-container">
    <div class="board">
      <div *ngFor="let col of board; let colIndex = index" class="column" (click)="makeMove(col)">
        <div *ngFor="let cell of col.elements; let rowIndex = index"
        class="cell"
        [class.red]="cell.color === 'Rojo'"
        [class.yellow]="cell.color === 'Amarillo'"
        >
      </div>
    </div>
  </div>
</div>

</div>

